
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
.pnpm-debug.log


.next
out
dist

.DS_Store
.env
.env.local
.env.development
.env.test
.env.production

.dockerignore
Dockerfile

.git
.gitignore
.github
.vscode

.vercel

.github/workflows
